* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

.car {
  width: 100%;
  height: 100%;
  background-color: green;
}

img {
  width: 150px;
}

.south {
  transform: rotate(90deg);
}

.north {
  transform: rotate(-90deg);
}

.west {
  transform: rotate(180deg);
}

.east {
  transform: rotate(360deg);
}
